@import "../colors.scss";

.layout-content section.welcome-section {
  padding: 0;
}

.welcome-section {
  background-image: url("/img/linux-background.svg");
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // .linux has a heigth of 600px
  }

  @media screen and (min-width: 1080px) {
    .welcome-wrapper {
      width: calc(50% - 100px);
    }

    .welcome-message {
      p {
        width: 25em;
      }
    }
  }

  .linux {
    top: 50%;
    translate: 0 -50%;
    background: none;
    height: 600px;
  }

  .welcome-wrapper {
    left: calc(100% + 100px);
  }

  .welcome-message {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    p {
      max-width: 100%;
      margin-top: 20px;
      text-align: justify;
    }

    .welcome-border {
      position: absolute;
      object-fit: fill;
      bottom: 0;
      left: -100px;
      height: 100%;
      width: 100px;
    }
  }

  .welcome-content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .primary-button {
    margin: 1.2em auto 0 auto;
  }
}

.about-section {
  p {
    padding: 0;
  }

  .about-me-image {
    grid-area: image;
    width: 100px;
    height: 100px;
    clip-path: circle(49px at center center);
  }

  .about-me-text {
    grid-area: text;
  }

  .about-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {
    .about-me-image {
      margin-bottom: 30px;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.index-page .technology-radar-section {
  .technology-radar-content {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 500px;
    align-items: center;

    @media screen and (max-width: 775px) {
      grid-template-columns: 1fr;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .technology-radar-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media screen and (max-width: 775px) {
      grid-template-columns: 1fr 1fr;
    }

    .button.selected {
      border-bottom: none;
    }

    .button .button-label {
      padding: 0.7em 0;
      width: 100%;
      text-align: center;
    }
  }

  .focus {
    color: white;

    circle {
      fill: $orange;
    }
  }

  .technology-radar-level {
    ul {
      list-style: none;
      padding: 0;

      button {
        cursor: pointer;
        width: 100%;
        text-align: left;
        padding: 5px;
        border: none;
        background-color: transparent;
        font-size: 1.1rem;
      }

      button.focus {
        background-color: $orange;
      }
    }
  }
}
