.welcome-section {
    background-image: url('/img/linux-background.svg');
    background-size: cover;
    overflow: hidden;
    height: 600px;
    position: relative;

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 1080px) {
    .welcome-wrapper {
            width: calc(50% - 100px);
        }
    }

    .linux {
        background: none;
    }

    .welcome-wrapper {
        left: calc(100% + 100px);
    }

    .welcome-message {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: justify;

        p {
            width: 20.5em;
            max-width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -100px;
            height: 100%;
            border-bottom: 600px solid white;
            border-left: 100px solid transparent;
        }
    }

    .welcome-content {
        position: relative;
        z-index: 1;
        padding: 2.5em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
