.index-page {
  section {
    padding: 30px 100px;
  }

  @media screen and (max-width: 1000px) {
    section {
      padding: 30px 20px;
    }
  }
}

.welcome-section {
  background-image: url("/img/linux-background.svg");
  background-size: cover;
  overflow: hidden;
  height: 1000px;
  max-height: 100vh;
  min-height: 500px;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // .linux has a heigth of 600px
  }

  @media screen and (min-width: 1080px) {
    .welcome-wrapper {
      width: calc(50% - 100px);
    }

    .welcome-message {
      p {
        width: 25em;
      }
    }
  }

  .linux {
    top: 50%;
    translate: 0 -50%;
    background: none;
    height: 600px;
  }

  .welcome-wrapper {
    left: calc(100% + 100px);
  }

  .welcome-message {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    p {
      max-width: 100%;
      margin-top: 20px;
      text-align: justify;
    }

    .welcome-border {
      position: absolute;
      object-fit: fill;
      bottom: 0;
      left: -100px;
      height: 100%;
      width: 100px;
    }
  }

  .welcome-content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .primary-button {
    margin: 1.2em auto 0 auto;
  }
}

.about-section {
  h1 {
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }

  p {
    padding: 0;
  }

  .about-me-image {
    grid-area: image;
    width: 100px;
    height: 100px;
    clip-path: circle(49px at center center);
  }

  .about-me-text {
    grid-area: text;
  }

  .about-content {
    padding: 0 30px 30px 30px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "image text text";
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {
    .about-me-image {
      margin-bottom: 30px;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.technology-radar-section {
  .marg10 {
    margin-right: 10px;
  }
}

.career-section {
  
}