.linux-terminal {
    background-image: url('/img/linux-terminal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(100vw - .5em);
    height: calc(100vw - 80px);

    h1 {
        color: #300a24;
        padding: 0 8em;
        text-align: center;

        &:first-child {
            padding-top: 9em;
        }

        &:nth-child(2) {
            padding-top: 1em;
        }
    }
}

.linux-background {
    background-image: url('/img/linux-background.svg');
    background-size: cover;
}