.linux {
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
    background-image: url('/img/linux-background.svg');
    background-size: cover;

    .linux-terminal {
        display: flex;
        justify-content: center;
        align-content: center;
    }   
}
