.linux {
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
    background-image: url('/img/linux-background.svg');
    background-size: cover;
    height: 100%;
    width: 100%;

    .linux-terminal {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }   
}
