@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

$blue: #043F4A;
$darkblue: #122A3B;
$lightGrey: #E5E5E5;
$grey: #333333;
$orange: #EC671B;

.default-background {
    background-image: url('/img/background.svg');
    background-size: 500%;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Source Sans Pro', sans-serif;
    color: $lightGrey;

    p {
        font-size: 1em;
        text-align: justify;
        margin: 0;
        padding: 20px 30px;
    }

    div {
        box-sizing: border-box;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 30px;
}

@mixin h1 {
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin: 0;
}

h1 {
    @include h1();
}

@mixin h2{
    font-weight: normal;
    font-size: 1.45em;
    line-height: 1em;
    color: white;
    margin: 0;
}

h2 {
    @include h2();
}

@mixin primary-button {
    @include h2();
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $orange;
    padding: .7em 1.5em;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 700;    
    cursor: pointer;

    &::after {
        content: none;
    }
}

.primary-button { @include primary-button(); }

.white-block {
    background-color: white;
    color: $grey;

    h1 {
        color: $darkblue;
    }
    
    h2 {
        @include h2();
        color: $darkblue;
    }

    a {
        color: $darkblue;
        text-decoration: none;

        &::after{
            display: block;
            content: '';
            width: 0;
            border-bottom: 1px solid $darkblue;
            transition: width .25s;
        }

        &:hover::after{
            width: 100%;
        }
    }

    .primary-button { @include primary-button(); }
}


// The navigation is 60px heigh but has a top value of -1
.layout-content {
    padding-top: 59px;
}