@import "../colors.scss";


.technology-radar  {
  .technology-radar-wave {
    fill: rgba(#88397C, 0.5);
  }

  .technology-radar-signal {
    cursor: pointer;

    circle {
      fill: $darkblue;
    }

    text {
      fill: white;
    }
  }
}
